Imports

In [5]:
import pandas as pd
import numpy as np
import statistics
from scipy import stats
from statsmodels.stats import proportion
import seaborn as sns
import matplotlib.pyplot as plt

loading both datasets

In [6]:
df1 = pd.read_csv("../Datasets/dataset1.csv")
df2 = pd.read_csv("../Datasets/dataset2.csv")

Data Cleaning / Preparation

In [7]:
print(df1.head())

         start_time  bat_landing_to_food habit  rat_period_start  \
0  30/12/2017 18:37            16.000000   rat  30/12/2017 18:35
1  30/12/2017 19:51             0.074016  fast  30/12/2017 19:50
2  30/12/2017 19:51             4.000000  fast  30/12/2017 19:50
3  30/12/2017 19:52            10.000000   rat  30/12/2017 19:50
4  30/12/2017 19:54            15.000000   rat  30/12/2017 19:50

     rat_period_end  seconds_after_rat_arrival  risk  reward  month  \
0  30/12/2017 18:38                        108     1       0      0
1  30/12/2017 19:55                         17     0       1      0
2  30/12/2017 19:55                         41     0       1      0
3  30/12/2017 19:55                        111     1       0      0
4  30/12/2017 19:55                        194     1       0      0

        sunset_time  hours_after_sunset  season
0  30/12/2017 16:45            1.870833       0
1  30/12/2017 16:45            3.100833       0
2  30/12/2017 16:45            3.107500       0
3  30/12/2017 16:45            3.126944       0
4  30/12/2017 16:45            3.150000       0

In [8]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   start_time                 907 non-null    object
 1   bat_landing_to_food        907 non-null    float64
 2   habit                      866 non-null    object
 3   rat_period_start           907 non-null    object
 4   rat_period_end             907 non-null    object
 5   seconds_after_rat_arrival  907 non-null    int64
 6   risk                       907 non-null    int64
 7   reward                     907 non-null    int64
 8   month                      907 non-null    int64
 9   sunset_time                907 non-null    object
 10  hours_after_sunset         907 non-null    float64
 11  season                     907 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 85.2+ KB
None

In [9]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2123 entries, 0 to 2122
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                2123 non-null   object
 1   month               2123 non-null   int64
 2   hours_after_sunset  2123 non-null   float64
 3   bat_landing_number  2123 non-null   int64
 4   food_availability   2123 non-null   float64
 5   rat_minutes         2123 non-null   float64
 6   rat_arrival_number  2123 non-null   int64
dtypes: float64(3), int64(3), object(1)
memory usage: 116.2+ KB
None

In [10]:
print(df2.head())

               time  month  hours_after_sunset  bat_landing_number  \
0  26/12/2017 16:13      0                -0.5                  20
1  26/12/2017 16:43      0                 0.0                  28
2  26/12/2017 17:13      0                 0.5                  25
3  26/12/2017 17:43      0                 1.0                  71
4  26/12/2017 18:13      0                 1.5                  44

   food_availability  rat_minutes  rat_arrival_number
0           4.000000          0.0                   0
1           4.000000          0.0                   0
2           4.000000          0.0                   0
3           4.000000          0.0                   0
4           3.753857          0.0                   0

In [11]:
print("Null values in dataset1:\n", df1.isnull().sum())
print("Null values in dataset2:\n", df2.isnull().sum())

Null values in dataset1:
 start_time                    0
bat_landing_to_food           0
habit                        41
rat_period_start              0
rat_period_end                0
seconds_after_rat_arrival     0
risk                          0
reward                        0
month                         0
sunset_time                   0
hours_after_sunset            0
season                        0
dtype: int64
Null values in dataset2:
 time                  0
month                 0
hours_after_sunset    0
bat_landing_number    0
food_availability     0
rat_minutes           0
rat_arrival_number    0
dtype: int64

In [12]:
df1 = df1.dropna()
df2 = df2.dropna()

In [13]:
# Ensure numeric columns are floats
numeric_cols1 = ['bat_landing_to_food', 'seconds_after_rat_arrival', 'hours_after_sunset', 'risk', 'reward']
df1[numeric_cols1] = df1[numeric_cols1].astype(float)

numeric_cols2 = ['hours_after_sunset', 'bat_landing_number', 'food_availability', 'rat_minutes', 'rat_arrival_number']
df2[numeric_cols2] = df2[numeric_cols2].astype(float)



Count risk-taking vs avoidance:

In [14]:
risk_counts = df1['risk'].value_counts()
print(risk_counts)

risk
1.0    449
0.0    417
Name: count, dtype: int64